<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
#login{
  text-decoration:none;
  color:white;
  /*padding-left: 10px;*/
}
#nav{
  padding-right: 50px;
}
#allRight{
  padding-top: 10px;
}
#h3{
  color: black;
}
#dropdown{
  padding-right: 20px;
}
p{
  padding-left: 100px;
  padding-right: 100px;
}


</style>
<script text="javascript">
function checkPin() {
  var ele = document.getElementById("googleLogin");
  var pin= document.getElementById("pinform");
  var x = document.forms["pinform"]["pin"].value;

    if (x == "123") {
        pin.style.display= "none";
        ele.style.display = "block";
   }
    else {
       ele.style.display = "none";
   }
  }
</script>
<body>
  <nav class="navbar navbar-inverse bg-inverse" id="nav">
    <a class="navbar-brand" id="header" href="/">FacilitiesScheduling</a>
    <div id="allRight">
  </nav>
  <center><h2>Welcome!</h2></center>
  <br>
  <center><h4>Welcome to FacilitiesScheduling, the application that helps you to sign for shifts!<br><br>To continue please login using your drew.edu credentials below...</h4>
  <br>
  <p>(Please note that only members of the Drew University community are allowed to use this application.)</p>
  </center>
  <br>
  <!-- <center><form name="pinform" onsubmit="return checkPin();">
    <label>Pin: </label>
    <input name="pin">
    <button class="btn btn-danger" type=submit>Submit</button>
  </form></center> -->
  <div id="googleLogin">
    <center><a class="btn btn-primary" href="/identity/login" >Login with Google</a></center>
  </div>

</body>
</html>
